.modal-container{
    height: 87vh;
    width: 97vw;
    display: flex;
    align-items: center;
}
.modal-bracelet{
    width: 92.25%;
    height: 30%;
    .leaf{
        width: 100%;
        height: auto;
    }
}