body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-modal-wrap {
  background-color: #fff !important;
}

.react-3d-carousel .slider-container .slider-left div {
  display: none !important;
}

.react-3d-carousel .slider-container .slider-right div {
  display: none !important;
}

.react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content{
  box-shadow: none !important;
}